@model IEnumerable<Cuentos.Models.PageType>
@using Cuentos.Lib

@{
    ViewBag.Title = "Template de Páginas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-3">
        <!-- find me in partials/action_nav_normal -->
        <!--big normal buttons-->
        <div class="action-nav-normal">

            <div class="row action-nav-row">
                <div class="col-sm-6 action-nav-button">
                    <a href="@Url.Action("Create")" title="Añadir Template">
                        <i class="icon-file-alt"></i>
                        <span>Añadir Template</span>
                    </a>
                    <span class="triangle-button red"><i class="icon-plus"></i></span>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header"><span class="title"> Templates </span></div>
            <div class="box-content">
                <!-- find me in partials/data_tables_custom -->

                <div id="dataTables">
                    <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
                        <thead>
                            <tr>
                                <td class="hidden"></td>
                                <td>Imagen</td>
                                <th><div> Nombre </div></th>
                                <th><div> Descripción </div></th>
                                <th><div> Activo </div></th>
                                <th style="width: 80px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pageType in Model)
                            {
                                <tr id="item-@pageType.Id" data-id="@pageType.Id">
                                    <td class="hidden">@pageType.Id</td>
                                    <td style="width: 50px;"><img width="100" src="@Url.Content(pageType.GetImagePathByTargetOrDefault(ImageTarget.MAIN))" /></td>
                                    <td class="confirmName">@pageType.Name</td>
                                    <td>@pageType.Description</td>
                                    <td>
                                        @if (pageType.Active)
                                        {
                                            <i class="icon-eye-open"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye-close"></i>
                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" href="@Url.Action("Edit", new { id = pageType.Id })"><i class="icon-cog"></i></a>
                                            <a class="btn btn-xs btn-default confirmDelete" data-toggle="modal" data-url="@Url.Action("Delete", "PageTypes", new { id = pageType.Id })" href="#confirmDelete"><i class="icon-remove"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_DeleteConfirm")