@using Cuentos.Lib.Helpers
@using Cuentos.Lib
@model BuilderGallery

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal fill-up validatable" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="padded">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Name)
                <span class="help-block note error"><i class="icon-warning-sign"></i> @Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Description)
                <span class="help-block note error"><i class="icon-warning-sign"></i> @Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Active)
                <span class="help-block note error"><i class="icon-warning-sign"></i> @Html.ValidationMessageFor(model => model.Active)</span>
            </div>
        </div>

        @if (Model != null && !string.IsNullOrEmpty(Model.UserName))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Model.UserName
                </div>
            </div>
        }
        

    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-blue">Guardar cambios</button>
        <a class="btn btn-default" href="@Url.Action("Index", "BuilderGalleries")">Cancelar</a>
    </div>
}