@if (Request.IsAuthenticated)
{


    <div class="col-sm-3 col-md-3 buttons navcontent pull-right">
        <a href="@Url.RouteUrl("CreaTuCuento")">
                  <div class="btn btn-success registerBtn"> &nbsp;Crear&nbsp;</div>
        </a>
        <a href="@Url.RouteUrl("Logoff")">
            <div  class="btn btn-primary loginBtn"> &nbsp;Logout&nbsp;</div>
        </a>
</div>
    <!--
    <div class="buttons">
        <a href="@Url.RouteUrl("MiCuenta")" class="blue login-btn"> @ViewBag.LoggedUser.UserName </a>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="yellow">Log Out</a>
        }
    </div>
    -->

}
else
{

    <div class="col-sm-3 col-md-3 buttons pull-right navcontent">

        <a href="@Url.RouteUrl("RegistraMiCuenta")"><div class="btn btn-success registerBtn"> &nbsp; &nbsp;Regístrate &nbsp;&nbsp;</div></a>
        <a href="@Url.RouteUrl("LoginMiCuenta")"><div class="btn btn-primary loginBtn"> &nbsp;Login &nbsp;</div></a>
    </div>

    <!--
    <div class="buttons">
        <a href="@Url.RouteUrl("LoginMiCuenta")" class="blue">Mi Cuenta</a>
        <a href="@Url.RouteUrl("RegistraMiCuenta")" class="yellow">Registrate Aquí</a>
    </div>-->

}





